{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "About Us" %}{% endblock %}

{% block content %}

<h1 class="fw-bold mb-3 my-lg-5">{% trans "Welcome to Cogito Books!" %}</h1>

<p>{% trans "Looking for a new discovery? You've come to the right place. In our selection, you'll find the books you would expect along with a lot more you won't." %}</p>

<p>{% trans "Being an independent bookshop gives us the freedom to offer you the books that interest us and, we hope, will interest you. We have many books in stock and many more are added every week." %}</p>

<p>{% trans "The best selling books are available in so many places but lots more books are published every week that are deserving of your attention. We aim to bring you a wide selection of these titles to help you discover something different." %}</p>

<p>{% trans "Each order that comes through to us is treated as if it were our first with that same care and attention. We are here to talk and look forward to helping you on your journey of discovery. Keep up to date with our latest book news by subscribing to our newsletter & following our social channel." %}</p>

<p>{% trans "Begin your discovery today!" %}</p>

{% endblock %}