/*----------------------------------- Profile menu page -----------------------------------*/

.profile-menu-link {
    min-height: 20vh;
    border-radius: .75rem;
}

/*----------------------------------- Account details -----------------------------------*/

#div_id_default_phone_number>div {
    display: flex;
}

select.phonenumber {
    padding-left: .25rem;
    max-width: fit-content;
    font-size: .8rem;
}

.order-history-card {
    border-radius: .75rem;
}

.book-img {
    max-width: 6rem;
    max-height: 9rem;
}

/*=============== Bootstrap breakpoint for medium screen size devices ===============*/

@media screen and (min-width: 768px) {

    main {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

}