/*-------------------------------- Basic styling ---------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.fw-600 {
    font-weight: 600;
}

/*------------------------------------ Header ------------------------------------*/

.header-banner_text {
    font-size: .75rem;
}

/************************************************************************************
*********************************** Media queries ***********************************
*************************************************************************************/

/*=============== Bootstrap breakpoint for small screen size devices ===============*/

@media screen and (min-width: 576px) {

    /*----------------------------------- Header -----------------------------------*/
    .header-banner_text {
        font-size: 1rem;
    }

}