{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-center align-items-center my-3 my-lg-5">
    <div class="allauth-box">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="mb-0 fs-4 fw-600">{% trans "Sign In" %}</h1>
            <small><a href="{{ signup_url }}">{% trans "I don't have an account" %}</a></small>
        </div>
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form | crispy }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <hr class="my-4">
            <button class="btn w-100 btn-outline-primary primaryAction" type="submit">{% trans "Sign In" %}</button>
        </form>
    </div>
</section>
{% endblock %}
