{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="allauth d-flex flex-column justify-content-center align-items-center my-3 my-lg-5">
    <div class="allauth-box">
        <h1 class="mb-4 fs-4 fw-600">{% trans "Change Password" %}</h1>
        <form class="password_change" method="POST" action="{% url 'account_change_password' %}">
            {% csrf_token %}
            {{ form | crispy }}
            <button class="btn d-block my-3 btn-outline-primary" type="submit" name="action">{% trans "Change Password" %}</button>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>
    </div>
</section>
{% endblock %}
