{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<section class="m-3 m-lg-5">
    <h1 class="mb-4 fs-4 fw-600">{% trans "Set Password" %}</h1>

    <form class="password_set" method="POST" action="{% url 'account_set_password' %}">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-outline-primary" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
</section>
{% endblock %}
