/*------------------------------- Book details page --------------------------------*/

.book-img-lg {
    max-width: 25rem;
}

.book-details .list-group-item.btn-group {
    width: 10rem;
}

.full-desc {
    display: none;
}

.qty-input-group {
    max-width: 20rem;
}

/*-------------------------------- Review form ----------------------------------*/

.review-form {
    border-radius: .85rem;
}

#div_id_rating {
    display: flex;
    align-items: center;
}

#id_rating {
    margin-left: 1rem;
}

#id_rating::-webkit-inner-spin-button, 
#id_rating::-webkit-outer-spin-button {  
   opacity: 1;
}

/*----------------------------------- Reviews -------------------------------------*/

.list-group-item .icon-container,
.rating_info .icon-container,
.reviews .icon-container {
    width: .85rem;
}

.rating_info .icon-container .icon-path__blue {
    fill: var(--bs-blue);
}

.book-img-sm {
    max-width: 5rem;
}

/*--------------------------- Product management page ----------------------------*/

.add_book_container {
    max-width: 30rem;
    margin-left: unset;
    padding: 0;
}