{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{{ title }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'books/css/book.css' %}">
{% endblock %}

{% block content %}

<h1 class="mb-3 fs-4 text-muted">{% trans "Product Management" %}</h1>
<h2 class="mb-3 fs-2 fw-600">{{ title }}</h2>
<div class="add_book_container container">
        <form class="form mb-2" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name != 'cover' %}
                    {{ field|as_crispy_field }}
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            <button class="btn btn-primary" type="submit">{{ button_content }}</button>
            <a class="btn btn-outline-primary" href="{% url 'book_list' %}">{% trans "Cancel" %}</a>
        </form>
</div>

{% endblock %}