{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Book of the Month" %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'books/css/book.css' %}">
{% endblock %}

{% block content %}
<h1 class="mb-3 mb-lg-5 fs-2 fw-bold">{% trans "Book of the Month" %}</h1>
<div class="row">

    <section class="book-month-main col-12 col-lg-10">
        <h2 class="mb-lg-5 fw-600">{{ book_of_the_month.title }}</h2>
        {% if request.user.is_superuser %}
            <div class="btn-group mb-3">
                <a class="btn btn-sm btn-outline-primary" href="{% url 'edit_book_of_the_month' pk=book_of_the_month.pk %}">Edit</a>
                <a class="btn btn-sm btn-outline-primary" href="{% url 'delete_book_of_the_month' pk=book_of_the_month.pk %}">Delete</a>
            </div>
        {% endif %}
        <div class="d-flex gap-3">
            <a href="{% url 'book_detail' pk=book_of_the_month.book.id %}">
                {% if book_of_the_month.book.cover %}
                    <img class="card-img-top" src="{{ book_of_the_month.book.cover.url }}" alt="{{ book_of_the_month.book.title }}">
                {% else %}
                    <img class="card-img-top" src="{{ MEDIA_URL }}/bookcovers/noimage.png" alt="{{ book_of_the_month.book.title }}">
                {% endif %}
            </a>
            <div>
                <h3 class="fw-600 text-start">{{ book_of_the_month.book.title }}</h3>
                <form class="d-flex flex-column mt-auto" action="{% url 'add_to_basket' pk=book_of_the_month.book.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="quantity" value="1">
                    <button class="btn btn-sm btn-primary w-75" type="submit">{% trans "Add to Basket" %}</button>
                    <a class="btn btn-sm btn-outline-primary w-75 mt-2" href="{% url 'add_to_wishlist' pk=book_of_the_month.book.id %}">{% trans "Add to Wishlist" %}</a>
                </form>
            </div>
        </div>
        <div class="book-summernote mt-3" >{{ book_of_the_month.content | safe }}</div>
    </section>

    <section class="archive dropdown col-12 col-lg-2 order-lg-1">
        <h2 class="fs-4">{% trans "Archive" %}</h2>
        {% regroup book_of_the_month_list by featured_year as years %}
        <ul class="nav">
            {% for year in years %}
                <li class="nav-item dropdown">
                    <a class="nav-link ps-0 dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ year.grouper }}</a>
                    <ul class="dropdown-menu">
                        {% for book_month in year.list %}
                            <li><a class="dropdown-item" href="{% url 'book_of_the_month' pk=book_month.pk %}">{{ book_month.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}