{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% if search_term %}{{ search_term }}{% else %}{{ title }}{% endif %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'books/css/book.css' %}">
{% endblock %}

{% block content %}

<h1 class="fw-bold mb-3">{% if search_term %}{% trans "Search results for " %}<span class="fw-bold">{{ search_term }}</span>{% else %}{{ title }}{% endif %}</h1>
{% if object_list %}
<div class="list-info d-flex justify-content-between mb-3">
    <p>{{ total }} {% if object_list.count == 1 %}{% trans "Book" %}{% else %}{% trans "Books" %}{% endif %}</p>
    {% if not title == 'Bestsellers' and not title == 'New Releases' %}
        {% include 'books/includes/sort_option.html' %}
    {% endif %}
</div>

<div class="books row">
    {% for book in object_list %}
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card h-100 border-0 text-center">
                <a class="flex-grow-1" href="{% url 'book_detail' pk=book.id %}">
                    {% if book.cover %}
                        <img class="card-img-top" src="{{ book.cover.url }}" alt="{{ book.title }}">
                    {% else %}
                        <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ book.title }}">
                    {% endif %}
                </a>
                <div class="card-body d-flex flex-column px-0">
                    <a class="text-decoration-none text-body" href="{% url 'book_detail' pk=book.id %}">
                        <h3 class="card-title mb-0 fs-6 fw-600">{{ book.title }}</h3>
                        <div class="card-text">
                            <ul class="list-group">
                                <li class="list-group-item p-0 border-0">
                                    <p class="small mb-0">{% trans "by " %}
                                        {% for author in book.author.all %}
                                            {% if not forloop.last %}
                                                {{ author }}{% trans " & " %}
                                            {% else %}
                                                {{ author }}
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                </li>
                                <li class="list-group-item p-0 border-0">
                                    {% with stars=book.get_average_rating %}
                                    <p class="mb-0">{% include "books/includes/stars.html" %}</p>
                                    {% endwith %}
                                </li>
                                {% if book.discount_rate > 0 %}
                                <li class="list-group-item p-0 border-0">
                                    <p class="mb-1">{% trans "€" %}{{ book.get_discount_price }} <small><s class="text-muted">{% trans "Was €" %}{{ book.price }}</s></small></p>
                                </li>
                                {% else %}
                                <li class="list-group-item p-0 border-0">
                                    <p class="mb-1">{% trans "€" %}{{ book.price }}</p>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </a>
                    <form class="d-flex flex-column mt-auto" action="{% url 'add_to_basket' pk=book.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="quantity" value="1">
                        <button class="btn btn-sm btn-primary w-75 mx-auto" type="submit">{% trans "Add to Basket" %}</button>
                        <a class="btn btn-sm btn-outline-primary w-75 mx-auto mt-2" href="{% url 'add_to_wishlist' pk=book.id %}">{% trans "Add to Wishlist" %}</a>
                    </form>
                    {% if title == 'Wishlist' %}
                    <form class="mt-2" action="{% url 'remove_from_wishlist' pk=book.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-sm btn-outline-primary" type="submit">{% trans "Remove from Wishlist" %}</button>
                    </form>
                    {% endif %}
                    {% if request.user.is_superuser and title != 'Wishlist' %}
                    <div class="mt-2">
                        <li class="btn-group">
                            <a class="btn btn-sm btn-outline-primary" href="{% url 'edit_book' pk=book.pk %}">Edit</a>
                            <a class="btn btn-sm btn-outline-primary" href="{% url 'delete_book' pk=book.pk %}">Delete</a>
                        </li>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:1 %}
            <div class="col-12 d-md-none mb-4">
                <hr>
            </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
            <div class="col-12 d-none d-md-block d-lg-none mb-4">
                <hr>
            </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
            <div class="col-12 d-none d-lg-block mb-4">
                <hr>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% else %}
    <h1 class="fs-3">
        {% if search_term %}
            {% trans "Your keyword did not match any books." %}
        {% elif title == 'Wishlist' %}
            {% trans "You have no books in your wishlist." %}
        {% else %}
            {% trans "There are no books in this category." %}
        {% endif %}
    </h1>
{% endif %}

{% include 'books/includes/paginator.html' %}

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'books/js/sort_option.js' %}"></script>
{% endblock %}