{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% if search_term %}{{ search_term }}{% else %}{{ title }}{% endif %}{% endblock %}

{% block content %}

<h1 class="fw-600 mb-3">{% if search_term %}{% trans "Search results for " %}<span class="fw-bold">{{ search_term }}</span>{% else %}{{ title }}{% endif %}</h1>
{% if object_list %}
<div class="list-info d-flex justify-content-between mb-3">
    <p>{{ total }} {% if object_list.count == 1 %}{% trans "Book" %}{% else %}{% trans "Books" %}{% endif %}</p>
    {% if not title == 'Bestsellers' and not title == 'New Releases' %}
        {% include 'books/includes/sort_option.html' %}
    {% endif %}
</div>

<div class="books row">
    {% for book in object_list %}
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card border-0 text-center">
                <a href="{% url 'book_detail' pk=book.id %}">
                    {% if book.cover %}
                        <img class="card-img-top" src="{{ book.cover.url }}" alt="{{ book.title }}">
                    {% else %}
                        <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ book.title }}">
                    {% endif %}
                </a>
                <div class="card-body px-0">
                    <a class="text-decoration-none text-body" href="#">
                        <h3 class="card-title fs-6 fw-600">{{ book.title }}</h3>
                        <p class="card-text">
                            <ul class="list-group">
                                <li class="list-group-item border-0">
                                    {% trans "by " %}
                                    {% for author in book.author.all %}
                                        {% if not forloop.last %}
                                            {{ author }} &
                                        {% else %}
                                            {{ author }}
                                        {% endif %}
                                    {% endfor %}
                                </li>
                                <li class="list-group-item border-0">{% trans "€ " %}{{ book.price }}</li>
                            </ul>
                        </p>
                    </a>
                    <form class="btn btn-primary" action="#" method="POST">{% trans "Add to Basket" %}</form>
                    {% if request.user.is_superuser %}
                    <div class="mt-2">
                        <li class="btn-group">
                            <a class="btn btn-sm btn-outline-primary" href="{% url 'edit_book' pk=book.pk %}">Edit</a>
                            <a class="btn btn-sm btn-outline-primary" href="{% url 'delete_book' pk=book.pk %}">Delete</a>
                        </li>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:1 %}
            <div class="col-12 d-md-none mb-4">
                <hr>
            </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
            <div class="col-12 d-none d-md-block d-lg-none mb-4">
                <hr>
            </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
            <div class="col-12 d-none d-lg-block mb-4">
                <hr>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% else %}
<h1 class="fs-3">{% trans "There are no books in this category." %}</h1>
{% endif %}

{% include 'books/includes/paginator.html' %}

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'books/js/sort_option.js' %}"></script>
{% endblock %}