{% load i18n %}

<h2 class="fw-600 mb-3">{% trans "Bestsellers" %}</h2>
<a class="text-decoration-none" href="{% url 'book_list' %}?list=bestsellers">{% trans "View all" %}</a>

<div class="carousel slide container mt-2" id="bestsellerCarousel" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for bestseller in bestsellers %}
            {% with book=bestseller %}
                {% include "home/includes/carousel_book.html" %}
            {% endwith %}
        {% endfor %}
    </div>
    {% include "home/includes/carousel_buttons.html" %}
</div>