{% load i18n %}

<div class="carousel-item {% if forloop.first %}active{% endif %}">
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card h-100 border-0 text-center">
            <a href="{% url 'book_detail' pk=book.id %}">
                {% if book.cover %}
                    <img class="card-img-top" src="{{ book.cover.url }}" alt="{{ book.title }}">
                {% else %}
                    <img class="card-img-top" src="{{ MEDIA_URL }}/bookcovers/noimage.png" alt="{{ book.title }}">
                {% endif %}
            </a>
            <div class="card-body d-flex flex-column px-0">
                <a class="text-decoration-none text-body" href="{% url 'book_detail' pk=book.id %}">
                    <h3 class="card-title fs-6 fw-600">{{ book.title }}</h3>
                    <p class="card-text">
                        <ul class="list-group">
                            <li class="list-group-item p-0 border-0">
                                <p class="small mb-1">{% trans "by " %}
                                    {% for author in book.author.all %}
                                        {% if not forloop.last %}
                                            {{ author }} &
                                        {% else %}
                                            {{ author }}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </li>
                            <li class="list-group-item p-0 border-0">
                                {% with stars=book.get_average_rating %}
                                <p class="mb-1">{% include "books/includes/stars.html" %}</p>
                                {% endwith %}
                            </li>
                            {% if book.discount_rate > 0 %}
                                <li class="list-group-item p-0 border-0">
                                    <p class="mb-0">{% trans "€" %}{{ book.get_discount_price }} <small><s class="text-muted">{% trans "Was €" %}{{ book.price }}</s></small></p>
                                </li>
                            {% else %}
                                <li class="list-group-item p-0 border-0">
                                    <p class="mb-0">{% trans "€" %}{{ book.price }}</p>
                                </li>
                            {% endif %}
                        </ul>
                    </p>
                </a>
                <form class="mt-auto" action="{% url 'add_to_basket' pk=book.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" type="number" name="quantity" value="1">
                    <button class="btn btn-sm btn-primary" type="submit">{% trans "Add to Basket" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>