{% load i18n %}

<section class="row my-3">

    {% comment %}Input field{% endcomment %}
    <h2>{% trans "Reviews" %}</h2>
    {% if user.is_authenticated and not user_review %}
        <form class="review-form col-12 py-3 bg-light" id="reviewForm" method="POST">
            {% csrf_token %}
            {% if has_rating %}
                {% with stars=has_rating %}
                    <p class="rating_info text-primary">{% trans "You have given " %}{% include "books/includes/stars.html" %}{% trans "Submitting the form again will overwrite your existing rating." %}</p>
                {% endwith %}
            {% endif %}
            {{ review_form | crispy }}
            <div class="text-end">
                {% if new_review %}
                    <button class="btn btn-primary" type="submit">{% trans "Add" %}</button>
                {% else %}
                    <button class="btn btn-primary" type="submit">{% trans "Edit" %}</button>
                    <a class="btn btn-outline-primary" href="{{ request.META.HTTP_REFERER }}">{% trans "Cancel" %}</a>
                {% endif %}
            </div>
        </form>
    {% endif %}

    {% comment %}Reviews{% endcomment %}
    <div class="reviews mt-3" id="reviews">
        {% if user_review %}
            <div class="bg-light p-3">
                <div class="single-review">
                    {% with stars=user_review.rating %}
                        <p class="mb-1">{% include "books/includes/stars.html" %}</p>
                    {% endwith %}
                    <div>
                        <p class="mb-1 small">{{ request.user }}{% trans " | " %}{{ user_review.updated_at | date:'d/m/Y H:i' }}</p>
                    </div>
                    <p>{{ user_review.content }}</p>
                </div>
                <div class="btn-group text-end">
                    <a class="btn btn-sm btn-primary" href="{% url 'edit_review' book_id=book.id pk=user_review.id %}">{% trans "Edit" %}</a>
                    <a class="btn btn-sm btn-outline-primary" href="{% url 'delete_review' book_id=book.id pk=user_review.id %}">{% trans "Delete" %}</a>
                </div>
            </div>
            <hr>
        {% endif %}
        {% if reviews %}
            {% for review in reviews%}
                <div class="single-review">
                    {% with stars=review.rating %}
                        <p class="mb-1">{% include "books/includes/stars.html" %}</p>
                    {% endwith %}
                    <div>
                        <p class="mb-1 small">{{ review.reviewer }}{% trans " | " %}{{ review.updated_at | date:'d/m/Y H:i' }}</p>
                    </div>
                    <p>{{ review.content }}</p>
                    
                </div>
                {% if not forloop.last %}
                <hr>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if new_page_needed %}
        <a href="{% url 'review_list' pk=book.id %}">{% trans "See all reviews" %}</a>
        {% endif %}
    </div>
</section>